export(
       startCluster,
       get.master,
       stopCluster,
       ec2din,
       ec2stop.instance,
       ec2stop.reservation,
       s3.mb,
       s3.rb,
       s3.ls,
       s3.la,
       s3.put,
       s3.get,
       s3.del,
       s3.info,
       s3.du
       )
